<header>
  <h3>Dili&W</h3>
  <ul class="navmenu">
    <li><a routerLink='home'>Home</a></li>
    <li><a routerLink=''>Shop</a></li>
    <li><a routerLink='product'>Product</a></li>
    <li><a routerLink=''>Page</a></li>
    <li><input type="text"></li>
  </ul>
  <div class="nav-ico">
    <a routerLink=''><i class='bx bx-search'></i></a>

    <a href="#"><i class='bx bx-cart' ></i></a>
   <a  routerLink='/security/loginform'><i class='bx bx-user'></i></a>
    <div class="bx bx-menu id="menu-icon></div>
  </div>
</header>
